<section class="flex flex-col gap-4 bg-zinc-900/60 rounded p-6 border border-zinc-600/60">
  <div class="section-header flex gap-4 items-center text-2xl"><svg xmlns="http://www.w3.org/2000/svg" width="24"
      height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
      stroke-linejoin="round" class="lucide lucide-graduation-cap h-8 w-8 text-purple-600">
      <path
        d="M21.42 10.922a1 1 0 0 0-.019-1.838L12.83 5.18a2 2 0 0 0-1.66 0L2.6 9.08a1 1 0 0 0 0 1.832l8.57 3.908a2 2 0 0 0 1.66 0z">
      </path>
      <path d="M22 10v6"></path>
      <path d="M6 12.5V16a6 3 0 0 0 12 0v-3.5"></path>
    </svg>
    <h2 class="uppercase">Education/Qualifications</h2>
  </div>
  <ul class="flex flex-col ml-2">
    <li class="flex items-center gap-8 relative py-4">
      <div class="absolute h-full w-[2px] left-[5px] bg-slate-300/60"></div><span class="relative flex h-3 w-3"><span
          class="animate-ping absolute inline-flex h-full w-full rounded-full bg-purple-400 opacity-75"></span><span
          class="relative inline-flex rounded-full h-3 w-3 bg-purple-500"></span></span>
      <div>
        <h3 class="uppercase text-purple-600">Bachelor of Electronics and Communication Engineering<!-- -->
          <span class="capitalize ml-4 text-slate-300/60">[2014 - 2017]</span>
        </h3>
        <p>Purwanchal Campus, Dharan</p>
        <p class="text-slate-300/60">I completed my Bachelor&#x27;s degree in Comprehensive study of
          electronic systems, signal processing, and communication technologies, providing a strong foundation
          for IT and automation careers.</p>
      </div>
    </li>
    <li class="flex items-center gap-8 relative py-4">
      <div class="absolute h-full w-[2px] left-[5px] bg-slate-300/60"></div><span class="relative flex h-3 w-3"><span
          class="animate-ping absolute inline-flex h-full w-full rounded-full bg-purple-400 opacity-75"></span><span
          class="relative inline-flex rounded-full h-3 w-3 bg-purple-500"></span></span>
      <div>
        <h3 class="uppercase text-purple-600">Diploma of Electronics and Communication Engineering<!-- -->
          <span class="capitalize ml-4 text-slate-300/60">[2010 - 2012]</span>
        </h3>
        <p>Paschimanchal Campus, Pokhara</p>
        <p class="text-slate-300/60">I completed my Diploma (Proficiency Certificate Level PCL) in
          Foundational training in electronic circuits, communication systems, and engineering principles,
          laying the groundwork for advanced studies and practical applications in IT.</p>
      </div>
    </li>
    <li class="flex items-center gap-8 relative py-4">
      <div class="absolute h-full w-[2px] left-[5px] bg-slate-300/60"></div><span class="relative flex h-3 w-3"><span
          class="animate-ping absolute inline-flex h-full w-full rounded-full bg-purple-400 opacity-75"></span><span
          class="relative inline-flex rounded-full h-3 w-3 bg-purple-500"></span></span>
      <div>
        <h3 class="uppercase text-purple-600">School Leaving Certificate (SLC)<!-- --> <span
            class="capitalize ml-4 text-slate-300/60">[2005 - 2009]</span></h3>
        <p>Shree Janta Madhyamik Vidyalaya, Chandralalpur</p>
        <p class="text-slate-300/60">I completed my Completed secondary education with a strong academic
          foundation, preparing for further studies in engineering and technology.</p>
      </div>
    </li>
    <li class="flex items-center gap-8 relative py-4">
      <div class="absolute h-full w-[2px] left-[5px] bg-slate-300/60"></div><span class="relative flex h-3 w-3"><span
          class="animate-ping absolute inline-flex h-full w-full rounded-full bg-purple-400 opacity-75"></span><span
          class="relative inline-flex rounded-full h-3 w-3 bg-purple-500"></span></span>
      <div>
        <h3 class="uppercase text-purple-600">Primary School<!-- --> <span
            class="capitalize ml-4 text-slate-300/60">[1996 - 2004]</span></h3>
        <p>Shree Puja English Boarding School</p>
        <p class="text-slate-300/60">I completed my Basic Primary Schooling making a strong foundation for
          further studies.</p>
      </div>
    </li>
  </ul>
</section>