<section class="flex flex-col items-center justify-center border border-zinc-500/60 rounded p-8">
  <h1 class="__className_a3eca6 text-4xl font-bold capitalize leading-[4rem] mb-4 text-purple-500">I love
    creativity</h1>
  <p class="text-xl text-muted-foreground mb-4 text-center text-balance tracking-wider">Creativity transforms
    the ordinary into extraordinary. It&#x27;s about realizing there are no limits, only possibilities. Every
    idea is a spark, and with passion, it can light up the world.</p>
  <div class="flex my-8 px-8 w-full justify-between">
    <div class="px-8 border-l border-purple-500">
      <h2 class="text-3xl leading-10 mb-2">2020</h2>
      <p class="text-md text-muted-foreground">Graduated in ECE</p>
    </div>
    <div class="px-8 border-l border-purple-500">
      <h2 class="text-3xl leading-10 mb-2">6+ yrs</h2>
      <p class="text-md text-muted-foreground">Experience in IT Field</p>
    </div>
    <div class="px-8 border-l border-purple-500">
      <h2 class="text-3xl leading-10 mb-2">30+</h2>
      <p class="text-md text-muted-foreground">Open Source Projects</p>
    </div>
    <div class="px-8 border-l border-purple-500">
      <h2 class="text-3xl leading-10 mb-2">2012</h2>
      <p class="text-md text-muted-foreground">Coding Since</p>
    </div>
  </div>
  <div class="flex gap-8 text-justify text-muted-foreground leading-6">
    <p>I am an electronics and communication engineer with a diploma in the field. Passionate about
      technology, I am drawn to programming and automation, from efficient scripts to hardware-based systems
      like home automation. Outside work, I enjoy learning new technologies and creative problem-solving,
      constantly honing my skills in the ever-evolving tech landscape. My dedication to growth reflects my
      passion for the field.</p>
  </div>
</section>