{% assign homepage_urls = '/, /index' | split: ', ' %}
<nav class="animate-fade-in{% unless homepage_urls contains page.url %} duration-75{% endunless %}">
  <ul class="flex items-center justify-center gap-4">
    {% for menu in site.data.navigation.menus %}
    {% assign menuUrlWithHtml = menu.href %}
    <li>
      <a href="{{ menu.href }}"
        class="duration-500 {% if page.url == menuUrlWithHtml or page.url == menu.href %}text-purple-600 hover:text-zinc-300{% else %}text-zinc-500 hover:text-zinc-300{% endif %}">
        {{ menu.name }}
      </a>
    </li>
    {% endfor %}
  </ul>
</nav>