<section class="text-center">
  <div class="mb-6"><span
      class="relative flex shrink-0 overflow-hidden rounded-full h-48 w-48 border-white border-4 bg-[radial-gradient(white,transparent)]"><span
        class="flex h-full w-full items-center justify-center rounded-full bg-slate-100 dark:bg-slate-800 text-black">Ajay</span></span>
  </div>
  <h1 class="text-2xl w-full text-center">Ajay<!-- --> <span class="text-white">Singh</span></h1>
  <p class="mt-2 text-muted-foreground">IT Assistant @NRB</p>
</section>