<section class="p-2 flex flex-col gap-4 w-full">
  <div class="section-header flex gap-4 items-center text-2xl"><svg xmlns="http://www.w3.org/2000/svg" width="24"
      height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
      stroke-linejoin="round" class="lucide lucide-circle-user-round h-8 w-8 text-purple-600">
      <path d="M18 20a6 6 0 0 0-12 0"></path>
      <circle cx="12" cy="10" r="4"></circle>
      <circle cx="12" cy="12" r="10"></circle>
    </svg>
    <h2 class="uppercase text-purple-600">Profile</h2>
  </div>
  <p class="text-justify text-muted-foreground">Results-driven Electronics and Communication Engineer with a
    diploma in the field and 6 years of experience as an IT Assistant at the Central Bank of Nepal.
    Passionate about programming, development, and automation across various domains. Skilled in scripting
    and hardware-based solutions, including home automation systems. Combines technical expertise with a
    strong work ethic to drive efficiency and innovation in IT operations.</p>
</section>