<section class="flex flex-col gap-4 bg-zinc-900/60 rounded p-6 border border-zinc-600/60">
  <div class="section-header flex gap-4 items-center text-2xl"><svg xmlns="http://www.w3.org/2000/svg" width="24"
      height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
      stroke-linejoin="round" class="lucide lucide-pocket-knife h-8 w-8 text-purple-600">
      <path d="M3 2v1c0 1 2 1 2 2S3 6 3 7s2 1 2 2-2 1-2 2 2 1 2 2"></path>
      <path d="M18 6h.01"></path>
      <path d="M6 18h.01"></path>
      <path d="M20.83 8.83a4 4 0 0 0-5.66-5.66l-12 12a4 4 0 1 0 5.66 5.66Z"></path>
      <path d="M18 11.66V22a4 4 0 0 0 4-4V6"></path>
    </svg>
    <h2 class="uppercase text-zinc-300">Skills</h2>
  </div>
  <div class="grid grid-cols-3 ml-2 gap-2">
    <div class="flex flex-col justify-center rounded p-4 border border-zinc-600/60">
      <div class="flex items-center gap-4"><span class="text-slate-300/60">95<!-- -->%</span>
        <div class="w-full h-2 bg-slate-300/60 rounded-full">
          <div class="h-full bg-slate-300/80 rounded-full" style="width:95%"></div>
        </div>
      </div>
      <h3 class="uppercase text-purple-600">Internet of Things (IoT)</h3>
      <p class="text-slate-300/60 text-justify">I have a strong understanding of IoT technologies and have
        worked on several projects involving IoT devices.</p>
    </div>
    <div class="flex flex-col justify-center rounded p-4 border border-zinc-600/60">
      <div class="flex items-center gap-4"><span class="text-slate-300/60">90<!-- -->%</span>
        <div class="w-full h-2 bg-slate-300/60 rounded-full">
          <div class="h-full bg-slate-300/80 rounded-full" style="width:90%"></div>
        </div>
      </div>
      <h3 class="uppercase text-purple-600">Automation (software and hardware)</h3>
      <p class="text-slate-300/60 text-justify">I have a sound experience in automating various processes
        using software and hardware solutions.</p>
    </div>
    <div class="flex flex-col justify-center rounded p-4 border border-zinc-600/60">
      <div class="flex items-center gap-4"><span class="text-slate-300/60">80<!-- -->%</span>
        <div class="w-full h-2 bg-slate-300/60 rounded-full">
          <div class="h-full bg-slate-300/80 rounded-full" style="width:80%"></div>
        </div>
      </div>
      <h3 class="uppercase text-purple-600">Programming and development</h3>
      <p class="text-slate-300/60 text-justify">I have experience in developing software applications using
        various programming languages and frameworks.</p>
    </div>
    <div class="flex flex-col justify-center rounded p-4 border border-zinc-600/60">
      <div class="flex items-center gap-4"><span class="text-slate-300/60">75<!-- -->%</span>
        <div class="w-full h-2 bg-slate-300/60 rounded-full">
          <div class="h-full bg-slate-300/80 rounded-full" style="width:75%"></div>
        </div>
      </div>
      <h3 class="uppercase text-purple-600">DevOps</h3>
      <p class="text-slate-300/60 text-justify">I have experience in implementing DevOps practices and tools
        to automate software development and deployment processes.</p>
    </div>
    <div class="flex flex-col justify-center rounded p-4 border border-zinc-600/60">
      <div class="flex items-center gap-4"><span class="text-slate-300/60">70<!-- -->%</span>
        <div class="w-full h-2 bg-slate-300/60 rounded-full">
          <div class="h-full bg-slate-300/80 rounded-full" style="width:70%"></div>
        </div>
      </div>
      <h3 class="uppercase text-purple-600">Cybersecurity</h3>
      <p class="text-slate-300/60 text-justify">I have a good understanding of cybersecurity concepts and have
        implemented security measures in various IT systems.</p>
    </div>
    <div class="flex flex-col justify-center rounded p-4 border border-zinc-600/60">
      <div class="flex items-center gap-4"><span class="text-slate-300/60">40<!-- -->%</span>
        <div class="w-full h-2 bg-slate-300/60 rounded-full">
          <div class="h-full bg-slate-300/80 rounded-full" style="width:40%"></div>
        </div>
      </div>
      <h3 class="uppercase text-purple-600">Blockchain Technology</h3>
      <p class="text-slate-300/60 text-justify">I have basic knowledge of blockchain technology. Recently
        started working on development of systems based on blockchain technology.</p>
    </div>
  </div>
</section>