<section class="flex flex-col gap-4 bg-zinc-900/60 rounded p-6 border border-zinc-600/60">
  <div class="section-header flex gap-4 items-center text-2xl"><svg xmlns="http://www.w3.org/2000/svg" width="24"
      height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
      stroke-linejoin="round" class="lucide lucide-briefcase-business h-8 w-8 text-purple-600">
      <path d="M12 12h.01"></path>
      <path d="M16 6V4a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v2"></path>
      <path d="M22 13a18.15 18.15 0 0 1-20 0"></path>
      <rect width="20" height="14" x="2" y="6" rx="2"></rect>
    </svg>
    <h2 class="uppercase">Work Experience</h2>
  </div>
  <ul class="flex flex-col ml-2">
    <li class="flex items-center gap-8 relative py-4">
      <div class="absolute h-full w-[2px] left-[5px] bg-slate-300/60"></div><span class="relative flex h-3 w-3"><span
          class="animate-ping absolute inline-flex h-full w-full rounded-full bg-purple-400 opacity-75"></span><span
          class="relative inline-flex rounded-full h-3 w-3 bg-purple-500"></span></span>
      <div>
        <h3 class="uppercase text-purple-600">IT Assistant<!-- --> <span class="capitalize ml-4 text-slate-300/60">[2018
            Dec - Present]</span></h3>
        <p>Nepal Rastra Bank</p>
        <p class="text-slate-300/60">I have been working as an IT assistant at the Central Bank of Nepal for
          nearly six years, supporting IT operations and contributing to various projects. My expertise covers
          system automation, scripting, and general IT support. My technical skills and innovative solutions
          have made me a valuable asset to the team. I am passionate about development and automation, always
          looking for ways to improve efficiency and implement new technologies.</p>
      </div>
    </li>
  </ul>
</section>