---
layout: default
---
<main
  class="relative flex flex-col items-center justify-center w-screen h-screen overflow-hidden bg-gradient-to-tl from-black via-zinc-600/20 to-black">
  {%- include components/theme-toggle.html -%}
  {%- include sections/navigation.html -%}
  <div
    class="hidden w-screen h-px animate-glow md:block animate-fade-left bg-gradient-to-r from-zinc-300/0 via-zinc-300/50 to-zinc-300/0">
  </div>
  <h1
    class="py-1.5 px-0.5 z-10 text-4xl text-transparent bg-white cursor-default text-edge-outline animate-title font-display sm:text-6xl md:text-9xl whitespace-nowrap bg-clip-text __className_a3eca6">
    {{ site.data.resume.name }}</h1>
  <div
    class="hidden w-screen h-px animate-glow md:block animate-fade-right bg-gradient-to-r from-zinc-300/0 via-zinc-300/50 to-zinc-300/0">
  </div>
  <div class="my-12 text-center animate-fade-in">
    <h2 class="text-md text-zinc-500 ">“{{ site.data.resume.quote }}
      -<a target="_blank" class="underline duration-500 italic hover:text-zinc-300" href="/blog">{{
        site.data.resume.quote_author }}</a></h2>
  </div>
  {%- include sections/social-home.html -%}
  <div class="animate-fade-in mt-12">
    <a class="text-zinc-400 duration-500 border border-zinc-600 hover:border-zinc-200 py-3 px-8 rounded-lg hover:text-zinc-100"
      href="/contact">Let ’ s Talk
    </a>
  </div>
</main>